#data-table{
    width: 100%; !important;
}

.actions-column{
    max-width: 71px; !important;
    width: 71px; !important;
}

.employees-grid-image-column{
    max-width: 50px; !important;
    width: 50px; !important;
}

.add-button-container{
    margin: 0 0 1.25rem 0;
}

.required-field-asterisk{
    color: #FF0000;
}

span.error-help-block{
    color: #FF0000;
    font-size: 12px;
}

.employee-profile-img{
    border: 3px solid #adb5bd;
    margin: 0 auto;
    padding: 3px;
}
div.note-frame {
    margin-bottom: 2px;
}
